 body {
  background: #fcfcfa;
}

.stroke {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
}

.trajectory {
  fill: none;
  stroke: red;
  stroke-width: 5px;
}

.fill {
  fill: #fff;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.land {
  fill: #222;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}

.main {
    text-align: center;
}
.inline {
	display: inline-block;
	vertical-align: top;
}
.ui, .svg {
    margin: 0px;
    padding: 1em;
}
.btn-collection {
    display: table-cell;
}
.btn-collection * {
    margin-top: 0.5em;
}

#log {
    text-align: left;
    overflow-y:auto;
    width: 100%;
    height: 30vh;
    background-color: #4d4d4d;
    color: white;
    font-family: "Courier new";
}

#data {
	margin-top: 50px;
}

td, .padded-vertical {
    padding-top: 1em;
    padding-bottom: 1em;
}

.padded-horizontal {
    padding-left: 1em;
    padding-right: 1em;
}
